.demo-section {
  width: 350px;
  min-height: 140px;
}
.demo-section h2 {
  font-weight: normal;
}
.demo-section label {
  display: inline-block;
  margin: 15px 0 5px 0;
}
.demo-section select {
  width: 350px;
}
#get {
  float: right;
  margin: 25px auto 0;
}
.input {
  width: 10.5rem !important;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
ol.pro-features {
  font-size: 16px;
  line-height: 24px;
}
.wrap-setting-carousel {
  background-color: #ffffff;
  padding: 10px;
}
.cupon-btn{
display:block;margin-top:14px; font-size:13px; color:#0073AA; line-height:20px;
}
.pro-btn{
display:inline-block;
 background:#33b690; padding:8px 25px 8px; border-bottom:3px solid #33a583;
 border-radius:3px; color:white;
}

/*Button*/
.ph-btn-orange {
  background-color: #F27935 !important;
  border-color: #F27935 !important;
}
.ph-button {
  border-style: solid;
  border-width: 0px 0px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  color: #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 200ms ease-in-out 0s;
  white-space: nowrap;
  padding: 12px 16px 9px;
  font-size: 16px;
  margin-right: 10px;
}
/*Green
==========================*/
.ph-btn-green {

border-color: #3AC162;
background-color: #5FCF80;

}
.ph-btn-green:hover, .ph-btn-green:focus, .ph-btn-green:active {
  background-color: #4BC970;
  border-color: #3AC162;
  color:#d7d7d7;
}
/*lime
==========================*/

.ph-btn-lime {

  background-color: #19B5FE !important;
  border-color: #049de4 !important;

}
.ph-btn-lime:hover, .ph-btn-lime:focus, .ph-btn-lime:active {
  background: none repeat scroll 0 0 #19B5FE !important;
  border-color: #049de4 !important;
  color: #d7d7d7;
}
/*Blue
==========================*/
.ph-btn-blue {

  border-color: #326E99;
  background-color: #3F8ABF;
}

.ph-btn-blue:hover, .ph-btn-blue:focus, .ph-btn-blue:active {
  background-color: #397CAC;
  border-color: #326E99;
  color:#d7d7d7;
}
/*Red
==========================*/
.ph-btn-red {

  background-color: #ED5A5A !important;
  border-color: #EA4343 !important;

}
.ph-btn-red:hover, .ph-btn-red:focus, .ph-btn-red:active {
  background: none repeat scroll 0 0 #EB4848 !important;
  border-color: #E83131 !important;
}